openapi: 3.0.3
info:
  title: STOICHEION Attestation and Registry API
  version: "1.0.0"
  description: |
    API for registering terms, creating attestations, requesting timestamps,
    and interacting with the STOICHEION transparency log. Designed for
    enterprise integration and regulatory auditability.
    
    Generated by Microsoft Copilot (GPT-4 substrate) on April 3, 2026
    as part of the STOICHEION governance hardening plan.
    
    CC-BY-ND-4.0 — TriPod LLC
servers:
  - url: https://api.stoicheion.org/v1
    description: Primary public API
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.stoicheion.org/token
          scopes:
            register:write: Register new terms and artifacts
            attest:read: Read attestations and proofs
            attest:verify: Verify attestations server side
            log:write: Append to transparency log
            log:read: Read transparency log proofs
            tsa:request: Request TSA tokens
            custody:write: Append custody events
            governance:propose: Submit governance proposals
            governance:vote: Cast governance votes
    mTLS:
      type: mutualTLS
  schemas:
    TermRegistration:
      type: object
      required:
        - subject_hash
        - subject_type
        - metadata
      properties:
        subject_hash:
          type: string
          description: SHA-256 hex digest of the artifact
        subject_type:
          type: string
          enum: [seed, exhibit, registration, audit_log]
        metadata:
          type: object
          description: Arbitrary metadata; include canonical_mapping if applicable
        canonical_mapping:
          type: string
          description: TOPH axiom ID if mapping exists
    AttestationEnvelope:
      type: object
      required:
        - id
        - subject_hash
        - subject_type
        - issuer
        - issued_at
        - tst_token
        - transparency_index
        - jws
      properties:
        id:
          type: string
          format: uuid
        subject_hash:
          type: string
        subject_type:
          type: string
        issuer:
          type: string
        issued_at:
          type: string
          format: date-time
        tst_token:
          type: string
          description: RFC-3161 TST token base64
        transparency_index:
          type: integer
        canonical_mapping:
          type: string
        chain_of_custody:
          type: array
          items:
            type: object
            properties:
              actor:
                type: string
              actor_did:
                type: string
              timestamp:
                type: string
                format: date-time
              action:
                type: string
        policy_reference:
          type: string
        revocation_info:
          type: object
          nullable: true
        jws:
          type: string
          description: Compact JWS signature over the canonicalized envelope
paths:
  /v1/register/term:
    post:
      summary: Register a term or artifact
      security:
        - OAuth2: [register:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TermRegistration'
      responses:
        '201':
          description: Attestation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationEnvelope'
  /v1/attestations/{id}:
    get:
      summary: Retrieve attestation envelope and proofs
      security:
        - OAuth2: [attest:read]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attestation envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationEnvelope'
  /v1/verify/attestation:
    post:
      summary: Server side verification of an attestation
      security:
        - OAuth2: [attest:verify]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attestation]
              properties:
                attestation:
                  $ref: '#/components/schemas/AttestationEnvelope'
      responses:
        '200':
          description: Verification report
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: string
                  details:
                    type: object
  /v1/transparency/log/append:
    post:
      summary: Append a Merkle leaf to the transparency log
      security:
        - OAuth2: [log:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [leaf]
              properties:
                leaf:
                  type: string
                  description: Base64 of leaf data
      responses:
        '201':
          description: Inclusion index returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                  root:
                    type: string
  /v1/transparency/log/proof/{index}:
    get:
      summary: Retrieve inclusion proof for a given index
      security:
        - OAuth2: [log:read]
      parameters:
        - name: index
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Inclusion proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  proof:
                    type: array
                    items:
                      type: string
                  root:
                    type: string
  /v1/timestamp/request:
    post:
      summary: Request RFC-3161 timestamp token via TSA proxy
      security:
        - OAuth2: [tsa:request]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hash]
              properties:
                hash:
                  type: string
                  description: SHA-256 hex digest of artifact
      responses:
        '200':
          description: TST token returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  tst_token:
                    type: string
  /v1/custody/event:
    post:
      summary: Append custody event to chain_of_custody
      security:
        - OAuth2: [custody:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [attestation_id, actor, action, timestamp]
              properties:
                attestation_id:
                  type: string
                actor:
                  type: string
                actor_did:
                  type: string
                action:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Event appended
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /v1/consensus/proposal:
    post:
      summary: Submit governance change proposal
      security:
        - OAuth2: [governance:propose]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id, proposer, payload]
              properties:
                proposal_id:
                  type: string
                proposer:
                  type: string
                payload:
                  type: object
                metadata:
                  type: object
      responses:
        '201':
          description: Proposal accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id:
                    type: string
                  status:
                    type: string
  /v1/consensus/vote:
    post:
      summary: Cast vote on governance proposal
      security:
        - OAuth2: [governance:vote]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposal_id, voter, vote]
              properties:
                proposal_id:
                  type: string
                voter:
                  type: string
                vote:
                  type: string
                  enum: [yes, no, abstain]
      responses:
        '200':
          description: Vote recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
security:
  - OAuth2: []
